/*html,
body {
    height: 100%;
}

#table-update {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.tablecell {
	position: relative;
	overflow: hidden;
}

.tablecell thead {
	position: relative;
	display: block;
	overflow: visible;
}

.tablecell thead td:nth-child(1) {
  position: relative;
  display: block;
}

.tablecell td {
	padding: 0 !important;
	border: none !important;
}

.tablecell tbody {
	position: relative;
	display: block;
	overflow: scroll;
}

tbody tr td:nth-child(1) {
	position: relative;
	display: block;
}

.cell-update {
	width: 35px;
	height: 20px;
	font-size: 10px;
    text-align: center;
	padding: 0;
}

.fail-validate {
	border-color: #d9534f;
}

.tablecell thead td,
.row-number {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}*/

body {
  margin: 0;
}
.tablecell th,
.tablecell td {
    text-align: center;
    background-color: white;
	padding: 0 !important;
	line-height: 1.42857143;
}
.tablecell {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 !important;
  border-spacing: 0;
  border-collapse: separate;
}
.tablecell thead {
  position: relative;
  display: block;
  width: 100%;
  overflow: visible;
}
.tablecell th {
  min-width: 35px;
  height: 20px;
  padding: 0;
  border: none;
}
.tablecell th:nth-child(1) {
  position: relative;
  display: block;
  height: 20px;
  padding-top: 20px;
}
.tablecell tbody {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.tablecell td {
  min-width: 35px;
}
.tablecell tr td:nth-child(1) {
  position: relative;
  display: block;
}

.cell-update {
	width: 35px;
	height: 20px;
	font-size: 10px;
    text-align: center;
	padding: 0;
}

.update-table {
	position: fixed;
	bottom: 25px;
	right: 25px;
}

.row-number {
	font-weight: bold;
}

.fail-validate {
	border-color: #d9534f !important;
}

.cell-inner {
	border: 1px solid #ddd;
	cursor: text;
	font-size: 11px;
	text-align: center;
	vertical-align: middle !important;
}

.cell-inner input {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
	text-align: center;
}